{% extends 'base.html.twig' %}

{% block title %}Veille SEO Cleatis - Connexion{% endblock %}

{% block menu %}{% endblock %}

{% block body %}
    <div class="form-2fa-container">
        <form class="form-2fa" action="/2fa_check" method="post">
            <label for="_auth_code">Code double authentification :</label>
            <input id="_auth_code" class="form-control-2fa" type="password" name="_auth_code" autocomplete="one-time-code" autofocus/>
            <button class="submit" type="submit">Connexion</button>
            <p class="cancel"><a href="/logout">Annuler</a></p>
        </form>
    </div>
{% endblock %}

{% block footer %}{% endblock %}