<p class="label"><label for="_auth_code">Code d'authentification :</label></p>

<form class="form" action="/2fa_check" method="post">
    <p class="widget"><input id="_auth_code" type="text" name="_auth_code" autocomplete="one-time-code" autofocus/></p>
    <p class="submit"><input type="submit" value="Connexion" /></p>
</form>

<p class="cancel"><a href="/logout">Annuler</a></p>