<p>Veuillez télécharger une application d'authentification comme Google Authenticator et scanner votre code QR</p>

<img id="qr-code" src="data:image/png;base64,{{ qrCode }}" alt="QR code" name="qr-code">
