{% extends 'base.html.twig' %}

{% block title %}Veille SEO Cleatis - Auteurs{% endblock %}

{% block body %}
	<div class="auteurs-container">
		<div class="auteurs">Auteurs<br><br>
			DAMIEN ROUSSON, consultant référencement et passionné d'entrepreunariat<br><br>
			Entrepreneur sur la région lyonnaise, consultant SEO et SEA depuis 10 ans.<br><br><br>
			JÉRÔME VAPILLON, Entrepreneur<br><br>
			Entrepreneur depuis 2008 dans le secteur du web et des loisirs, je suis aujourd’hui cogérant d’une agence française de référencement.<br><br><br>
			Vous souhaitez diffuser une actualité sur notre outil ? Sollicitez-nous à contact@cleatis .fr</div>
	</div>
{% endblock %}
