{% extends 'base.html.twig' %}

{% block title %}Veille SEO Cleatis - Auteurs{% endblock %}

{% block body %}
	<div class="auteurs-container">
		<div class="auteurs-content">
			<h2>Auteurs</h2>
			<div class="first">
				<p><strong>DAMIEN ROUSSON</strong>, Consultant en référencement et passionné d'entrepreunariat.</p>
				<p>Entrepreneur sur la région lyonnaise, consultant SEO et SEA depuis 10 ans.</p>
			</div>
			<div class="second">
				<p><strong>JÉRÔME VAPILLON</strong>, Entrepreneur.</p>
				<p>Entrepreneur depuis 2008 dans le secteur du web et des loisirs, je suis aujourd’hui cogérant d’une agence française de référencement.</p>
			</div>
			<p>Vous souhaitez diffuser une actualité sur notre outil ? Sollicitez-nous à <a href="mailto:contact@cleatis.fr">contact@cleatis.fr</a></p>
		</div>
	</div>
{% endblock %}