<footer>
        <a href="{{path('app_homepage')}}" ><img class="logo" src="{{ asset('images/logo-veille-seo.png') }}" alt="Logo Cléatis"></a>
        <a href="https://www.cleatis.fr/mentions-legales/" target="_blank">Mentions légales</a>
        <p class="copyright">©2023</p>
</footer>