<!DOCTYPE html>
<footer>
        <a href="{{path('app_home')}}" ><img class="logo" src="{{ asset('images/logo-cleatis.webp') }}" alt="Logo Cléatis"></a>
        <a href="https://www.cleatis.fr/mentions/" target="_blank">Mentions légales</a>
        <p class="copyright">Copyright 2023</p>
</footer>