<!DOCTYPE html>
<nav>
    <a href="{{path('app_home')}}"><img class="logo" src="{{ asset('images/logo-cleatis.webp') }}" alt="Logo Cléatis"></a>
    <a class="nav-lien" href="#fil-actu">Fil d'actualités</a>
    <a class="nav-lien" href="https://www.cleatis.eu/audit-seo/" target="_blank">Demander un audit SEO</a>
    <a class="nav-lien" href="#evenement">Événements</a>
    <a class="nav-lien" href="https://www.cleatis.eu/livres-blancs/" target="_blank">Livre blanc</a>
    <a class="nav-lien" href="{{path('app_auteurs')}}">Auteurs</a>
</nav>