{{ form_start(form, { 'attr' : { 'class': 'search-bar-container' } }) }}
    {{ form_row(form.query) }}
    <button class="search-submit-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
{{ form_end(form) }}