{# Dernières vidéos Youtube #}
<section id="evenements">
	<div class="evenement-container">
		<div class="evenement-content">
			<h2>Derniers événements</h2>
			<div class="media">
				{% for iframe in iframes %}
					{{ iframe|raw }}
				{% else %}
					<p>Pas de vidéos</p>
				{% endfor %}
			</div>
			<a href="https://www.youtube.com/@cleatis" class="media-btn" target="_blank">Plus de vidéos</a>
		</div>
	</div>
</section>